html, body {
    height: 100%;
}
body {
    background-color: #8E59CD;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 500px;
}
.vcontainer {
    display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   height: 90%;
}
.vcontainer > img {
    width: 60%;
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height:76px;
    background-color: #8E59CD;
    text-align: center;
}
.footer > form {
	padding: 15px;
}

.header {
    position: absolute;
    top: 0;
    width:100%;
    height:80px;
    background-color: #8E59CD;
    text-align: center;
	line-height: 80px;
}
.header > img {
	vertical-align: middle;
	padding-left: 50px;
	padding-right: 50px;
}
.offer {
    margin-top: 80px;
    padding-top: 1px;
}
.instructions{
    padding: 5px;
}
.legal {
    padding-left: 10px;
    padding-right: 10px;
}
#redeemBtn {
    color: #8E59CD;
}

/*  ALIGNMENT  */

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}


/*  GIVE DAY  */

#giveday_input {
    text-align: center;
    color: #8E59CD;
}
