body {
    background-color: #8e59cd;
}
h1 h2 {
    margin: 0px;
}
.navbar {
    min-height: 75px;
    padding-right: 15px;
}
.navbar .nav > li > a {
    line-height: 75px;
    color: #8e59cd;
    display: inline;
}
@media( max-width: 767px ) {
    .navbar .nav > li > a {
        line-height: 50px;
        color: #8e59cd;
        display: inline;
    }
}
.navbar-brand {
    height: 75px;
    padding: 20px;
}
.navbar-brand > img {
    height: 35px;
}
.hamburger {
    margin-top: 20px;
    color: #8e59cd;
}
.navbar-links > .in {
    background-color: #ffffff;
}
.section{
    min-height: 400px;
    width: 100%;
    text-align: center;
    padding: 40px 20px 40px 20px;
}
.section-hero-wrapper {
    display:table;
    width: 100%;
}
.section-hero {
    background-color: #8e59cd;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
#cta {
    color: #8e59cd;
    border-color: #6a39a3;
    border-width: 1px;
}
.section-steps {
    background-color: #ffffff;
    color: #8e59cd;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.section-causes {
    background-color: #5bcc5d;
    color: #ffffff;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.section-team {
    background-color: #64adfa;
    color: #ffffff;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.mugshot {
    max-height: 175px;
    margin: 20px 40px 10px 40px;
}
.section-social {
    background-color: #f0625a;
    color: #ffffff;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.footer {
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
}
