body {
    padding-top: 75px;
}
h1, h2 {
    margin: 0px
}
.navbar {
    height: 75px;
}
.navbar-brand {
    height: 75px;
    padding: 20px;
}
.section{
    height: 400px;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-hero-wrapper {
    display:table;
    width: 100%;
}
.section-hero {
    background-color: #8e59cd;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
}
.section-steps {
    background-color: #ffffff;
    color: #8e59cd;
}
.section-causes {
    background-color: #5bcc5d;
    color: #ffffff;
}
.section-team {
    background-color: #64adfa;
    color: #ffffff;
}
.section-social {
    background-color: #f0625a;
    color: #ffffff;
}
