@font-face {
  font-family: 'Avenir-Roman';
  src: url('/assets/font/Avenir-Roman-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/font/Avenir-Roman-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/Avenir-Roman-webfont.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('/assets/font/Avenir-Black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/font/Avenir-Black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/Avenir-Black-webfont.svg') format('svg'); /* Legacy iOS */
}
body {
    font-family: "Avenir-Roman";
    background-color: #f8f8f8;
}
h1, h2 {
    font-family: "Avenir-Black";
    margin: 0px;
}
h2 {
    font-size: 32pt;
    padding-top: 30px;
}
h3 {
    font-weight: bold;
}
label {
    color: #8e59cd;
}
.navbar {
    min-height: 75px;
    padding-right: 15px;
    /*background-color: transparent;*/
}
.navbar .nav > li > a {
    line-height: 75px;
    color: #8e59cd;
    display: inline;
}
@media (max-width: 767px) {
    .navbar .nav > li > a {
        line-height: 50px;
        color: #8e59cd;
        display: inline;
    }
}
.navbar-brand {
    height: 75px;
    padding: 20px;
}
.navbar-brand > img {
    height: 35px;
}
.hamburger {
    margin-top: 20px;
    color: #8e59cd;
}
.navbar-links > .in {
    background-color: #f8f8f8;
}
#navbar .active a {
    font-weight: bolder;
    background-color: #f8f8f8;
    color: #8e59cd;
}
.section{
    width: 100%;
    text-align: center;
    padding: 30px 20px 0px 20px;
}
.row-pad {
    margin: 50px 0px 10px 0px;
}
.row-pad div {
    margin-bottom: 10px;
}
.section-hero-wrapper {
    display:table;
    width: 100%;
    height: 90vh;

    background-image: url(/assets/img/hero_aug_15.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section-hero {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
    padding-top: 0px;
}
.section-hero h1 {
    font-size: 32pt;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    line-height: 38pt;
}
@media (min-width: 768px) {
    .section-hero h1 {
        font-size: 42pt;
        line-height: 54pt;
    }
}
.section-hero p {
    font-size: 14pt;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
}
#cta {
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
#cta * {
    border-width: 5px;
    height: 80px;
    border-color: #ffffff;
}
#cta input {
    color: #8e59cd;
    background-color: #f8f8f8;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    min-width: 75px;
}
@media (min-width: 768px) {
    #cta input {
        max-width: 200px;
    }
}
#cta div[type="button"] {
    color: #ffffff;
    background-color: #8e59cd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 16pt;
    padding: 0px 30px 0px 30px;
}
@media (max-width: 767px) {
    #cta div[type="button"] {
        line-height: 24px;
    }
}
.section-steps {
    color: #8e59cd;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.how-step {
    padding-bottom: 30px;
}
.how-step i {
    font-size: 80pt;
    padding: 10px 0px 10px 0px;
}
.section-causes {
    background-color: #8e59cd;
    color: #ffffff;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.section-causes a {
    color: #ffffff;
    text-decoration: underline;
}
.recent-cause {
    padding-bottom: 30px;
}
.thumbnail {
    color: #8e59cd;
    border-radius: 20px;
    border-width: 5px;
    border-color: #ffffff;
    padding: 0px;
}
.thumbnail img {
    border-radius: 20px;
}
.section-team {
    color: #8e59cd;

    position: relative;
    border-top: 75px solid transparent;
    margin: -75px 0 0;
    background-clip: padding-box;
}
.mugshot {
    padding-bottom: 30px;
}
.mugshot img {
    max-height: 175px;
}
.mugshot a i {
    color: #8e59cd;
    margin: 0px 5px 0px 5px;
}
.section-social {
    background-color: #8e59cd;
    color: #ffffff;

    position: relative;
    border-top: 65px solid transparent;
    margin: -65px 0 0;
    background-clip: padding-box;

    padding-bottom: 30px;
}
.section-social a i {
    color: #ffffff;
    margin: 10px 10px 10px 20px;
}
.section-social .container .row-pad {
    margin-top: 30px;
}
.footer {
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: #8e59cd;
}
.footer p {
    margin-bottom: 0px;
}
.modal-text {
    padding: 10px 0px 0px 0px;
}

/* ACCOUNT PAGE SPECIFIC*/

.section-top-wrapper {
    display:table;
    width: 100%;
    /*height: 90vh;*/

    background-image: url(/assets/img/hero_account.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login {
    height: 90vh;
}
#loginForm {
    background-color: #ffffff;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
}
#loginForm div {
    margin: 0px 0px 20px 0px;
}
#loginForm label {
    font-size: 20px;
}
#loginForm input {
    text-align: center;
}
#loginForm button {
    background-color: #8e59cd;
    color: #ffffff;
    margin-top: 10px;
}
#manageBtn {
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-width: 5px;
    background-color: #8e59cd;
    color: #ffffff;
    border-color: #ffffff;
    height: 80px;
}
.section-cause-history {
    padding-bottom: 30px;
}
.section-cause-history h2 {
    color: #8e59cd;
}
