<div>
    <div class="section-top-wrapper">
        <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Spark" src="/assets/img/logo.png">
                    </a>

                    <button type="button" class="navbar-toggle collapsed hamburger" data-toggle="collapse" data-target="#navbar-links">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-links" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Back to SparkTheCause.com</a></li>
                        <li><a id="logoutBtn" style="color: #5a5a5a;" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="manage" class="section section-hero">
            <div class="container">
                <div class="row row-pad">
                    <div class="col-xs-12">

                        <h1>Thank you for donating <br>{{dollars donation}} + {{dollars tip}} tip</h1>
                        <button id="manageBtn" type="button" class="btn btn-lg">&nbsp;&nbsp;Manage My Account&nbsp;&nbsp;</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cause-history" class="section section-cause-history">
    <div class="container">
        <h2>Causes You've Supported</h2>
        <div class="row row-pad">
            <div class="col-xs-12">
                <p>None yet, but we're just getting started!</p>
                <br>
                <p><em><strong>Note:</strong> We bill on the first of the following month.<br>
                    If you support this month's cause, it will appear here next month.</em></p>
            </div>
        </div>
    </div>
</div>

<div id="social" class="section section-social">
    <div class="container">
        <h2>Get in touch</h2>
        <div class="row row-pad">
            <div class="col-xs-12">
                <a href="https://www.facebook.com/SparkTheCause"><i class="fa fa-facebook-square fa-4x"></i></a>
                <!-- <a href="https://twitter.com/sparkthecause"><i class="fa fa-twitter-square fa-4x"></i></a> -->
                <a href="https://instagram.com/sparkthecause"><i class="fa fa-instagram fa-4x"></i></a>
                <br class="visible-xs">
                <!-- <a href="https://github.com/sparkthecause"><i class="fa fa-github-square fa-4x"></i></a> -->
                <a href="http://blog.sparkthecause.com"><i class="fa fa-rss-square fa-4x"></i></a>
                <a href="mailto:hello@sparkthecause.com"><i class="fa fa-envelope-square fa-4x"></i></a>
            </div>
        </div>
    </div>
</div>
